:root {
    --main-white: #EBEBEB;
    --dark-gold: #E7970A;
    --main-gray: #3E3E3E;
  }
  
  /*RESET*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*DEFAULT*/
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  /*STYLE*/
  body {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    text-align: center;
    color: black;
  }
  
  h1, h2 {
    font-family: 'Playfair Display SC', sans-serif;
    font-weight: 400;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
    font-weight: 900;
  }
  
  h2 {
    font-size: 4rem;
  }
  
  p {
    font-size: 2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  /*BUTTON*/
 .click {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-stretch: ultra-expanded;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    border-color: white; 
    border-width:  medium 10px solid white;
    background: none;
    color: white;
    padding: 10px;
    box-shadow: 0px 0px 30px rgb(185, 185, 185);
    margin-top: 15px;
  }

  .more a:hover {
    width: 180px;
    height: 40px;
    background: black;
    color: white;

  }
  
  /*NAVBAR*/
  
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin-right: 1rem;
    color: whitesmoke;
  } 
  
  .nav-list a {
    display: block;
    font-size: 2rem;
    padding: 1.5rem;
  }
  
  .nav-list a:hover {
    background: #111;
    display: block;
    height: 60px;
    
  }


  li.dropdown {
    display: inline-block;
  }
  
  .workbtn-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    min-height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .workbtn-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .workbtn-content a:hover {
    background-color: #111;
    margin: 0;
  }

  .dropdown:hover .workbtn-content {
  display: block;
}

  /*WELCOME*/
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
    background-image: url(https://images.pexels.com/photos/4506937/pexels-photo-4506937.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    min-height: 80%;
    background-attachment: fixed;
    background-position: 50% 75%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
  
  }
  
  .welcome-section p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--dark-gold);
  }
  
  .welcome-section h1 {
    color: white;
  }
  
  
  /*PROJECTS*/
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: hsla(246, 69%, 25%, 0.965);
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid;
    
  }
  
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  
  /* Contact section */
  
  .contact-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: hsl(180, 39%, 44%);
  }
  
  .contact-sections a {
    font-size: 3rem;
  }
  
  .contact-links {
    display: flex;
    justify-content: space-around;
    width: 200%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-links a {
    color: #EBEBEB;
  }
  
  
  /*FOOTER*/
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: hsl(0, 0%, 7%);
    border-top: 4px solid var(--dark-gold);
  }